<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (submit)="onSubmit(f)" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                        Enviar Email
                    </span>

                <span *ngIf="f.submitted && f.controls['smtp'].errors" class="text-danger animated fadeIn">El campo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="email.smtp" required class="input100" type="text" name="smtp" placeholder="Smtp">

                    <span class="focus-input100"></span>
                </div>

                <!-- <span class="text-danger">El nombre es obligatorio</span> -->
                <span *ngIf="f.submitted && f.controls['puerto'].errors" class="text-danger animated fadeIn">El campo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="email.puerto" required class="input100" type="text" name="puerto" placeholder="Puerto">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['para'].errors" class="text-danger animated fadeIn">El campo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="email.para" required class="input100" type="text" name="para" placeholder="Para">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['asunto'].errors" class="text-danger animated fadeIn">El campo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="email.asunto" required class="input100" type="text" name="asunto" placeholder="Asunto">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted &&  f.controls['contenido'].errors" class="text-danger animated fadeIn">El campo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="email.contenido" required class="input100" type="text" name="contenido" placeholder="Contenido">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted &&  f.controls['de'].errors" class="text-danger animated fadeIn">El campo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="email.de" required class="input100" type="text" name="de" placeholder="De">

                    <span class="focus-input100"></span>
                </div>

                <!-- <span class="text-danger">La contraseña debe de ser más de 6 letras</span> -->
                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">El campo es obligatorio</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input [(ngModel)]="email.password" required class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <!-- <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                                Recordar mi usuario
                            </label>
                    </div>

                    <div>
                        <a routerLink="/registro" class="txt1">
                                ¿Ya tienes cuenta? / Ingresar
                            </a>
                    </div>
                </div> -->

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                            Guardar
                        </button>
                </div>

            </form>
        </div>
    </div>
</div>